.slider {
	width: 100%;
	overflow: hidden;
}
.slider-wrapper {
	width: 300%;
	height: 400px;
	position: relative;
	transition: left 500ms linear;
}
.slide {
	float: left;
	position: relative;
	width: 100%;
	height: 400px;
}
.slider-nav {
	height: 40px;
	width: 100%;
    margin-top: 1.5em;
}
.slider-nav button {
	border: none;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	text-indent: -9999em;
	background-color: transparent;
    background-repeat: no-repeat;
}
.slider-nav button.slider-previous {
	float: left;
	background-image: url(img/previous.png);
}
.slider-nav button.slider-next {
	float: right;
	background-image: url(img/next.png);
}